@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

@media only screen and (min-width: 768px) {
  .main {
    display: grid;
    grid-template-columns: 5% repeat(2, 1fr);
    column-gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
  }
}

.main h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

.social {
  display: flex;
  flex-wrap: wrap;
  gap: 1.4rem;
  margin-top: 1.7rem;
}

.social a {
  color: #43d3e9;
  font-size: 1rem;
  border: 1.6px solid #43d3e9;
  border-radius: 50%;
  padding: 0.35rem;
  text-align: center;
  width: 40px;
  height: 40px;
  transition: .8s;
  -webkit-transition: .8s;
  -moz-transition: .8s;
  -ms-transition: .8s;
  -o-transition: .8s;
}

.social a:hover {
  color: #fff;
  background-color: #113d6b;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 15px 1px #43d3e9;
}

.main h1 span:nth-child(1) {
  font-size: 1.5rem;
}
.button button {
  background-color: transparent;
  border: 1px solid #43d3e9;
  border-radius: 0.4rem;
  margin-top: 2rem;
  cursor: pointer;
  padding: 0.8rem 1.2rem;
}
.button button:hover {
  background-color: #43d3e9;
  color: #fff;
  transition: all 0.3s ease-in-out;
  transform: scale(0.91);
}
.images {
  background-image: url("/blob.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.images img {
  position: relative;
  height: 640px;
  transform: scale(1.01);
  width: auto;
  bottom: 0;
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
}


.active{
  @apply text-[#43d3e9]
}


#navbar-default a:hover {
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

footer a:hover {
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.title{
  background: -webkit-linear-gradient(60deg, rgba(58,219,234,1) 47%, rgba(220,61,195,1) 52%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}