@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#mouse-pointer {
  position: fixed;
  left: -50px;
  top: -50px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 2px solid #bbbbbb;
  z-index: 99;
  pointer-events: none;
  mix-blend-mode: difference;
}

#center-point {
  display: block;
  width: 6px;
  height: 6px;
  background-color: rgb(101, 101, 101);
  border-radius: 6px;
  position: fixed;
  top: calc(50% - 3px);
  left: calc(50% - 3px);
  transition: transform 100ms linear;
  z-index: -99;
}

#navbar-custom li.active {
  @apply text-green-500;
}

body {
  @apply bg-[#f8f8f8];
}

ul.skills-custom li {
  @apply bg-[#f8f8f8] shadow-lg p-4 rounded-md my-4 w-[50%];
}

ul.skills-custom li svg {
  @apply w-[80px] h-[80px] mx-auto;
}

ul.skills-custom li:hover {
  @apply text-green-500 transition-colors duration-300 ease-in-out;
}

ul.skills-custom li p {
  @apply font-["Poppins"] pt-4;
}

ul.skills-custom li p.icon-language {
  @apply text-2xl font-bold;
  background: linear-gradient(45deg, #0fad63 0%, #0c0404 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

div#education-experience-custom .education ul::before, div#education-experience-custom .experience ul::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.07);
}

div#education-experience-custom .education ul li::before, div#education-experience-custom .experience ul li::before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  background: #fff;
  border-radius: 100%;
  border: solid 1px #ccc;
  left: -9px;
  top: 8px;
}
